<html>

  <head>
    <title>Eventbrite THP</title>
  </head>

  <body>

    <h2 class="display-4 text-center">Profil</h2> <br/><br/>


   <div class='container'>
      <div class="card text-center bg-info text-white">
        <div class="card-body">
            <h4 class='card-title display-5'><%=@user.first_name%> <%=@user.last_name%></h4>
            <h5 class='card-text display-6'>"<%=@user.description%>"</h5>
            <p class='card-footer'>nombre d'évènements organisés: <%=@user.events.count%></p>
            <div class='btn'><%=link_to 'edit', edit_user_path(current_user.id), class:'btn btn-secondary'%></div>
            <div class='btn'><%=link_to 'editer informations de connexion', edit_user_registration_path(current_user.id), class:'btn btn-secondary'%></div>
        </div>
    </div>  
    <br/><br/><br/>

    <div class="container">
        <%@events.all.each do |event|%>
        <div class="card text-center bg-secondary text-white">
            titre de l'évènement: <h5 class='card-title'><%=event.title%></h5>
            <div class='btn'><%= link_to "Détails", event_path(event.id), :class=>'btn btn-info'%></div>
        </div><br/>
        <%end%>
    </div>
            
  </body>

</html>
