<div style="margin-left: 40px; margin-right: 40px;">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">Categories</h1>
      <div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
      </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <div class="row">
        <%@events.all.each do |event|%>
        <div class="col-md-4 mb-4">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""/></a>
            <div class="card-body">
              <h4 class="card-title"><%=event.title%></h4>
              <h5><%=event.price%>€</h5>
              <p class="card-text"><%=event.description%></p>
              <i class="card-subtitle mb-2">date: <%=event.start_date%> | durée: <%=event.duration%></i>
            </div>
            <%= link_to "Détails", event_path(event.id), :class=>'btn
            btn-secondary'%>
          </br></br>
            <div class="card-footer">
              <small class="text-muted"
                >&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
