<div style="margin-left: 40px; margin-right: 40px;">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">Categories</h1>
      <div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
      </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <div class="row">
        <%@events.each do |event|%>
        <div class="col-md-4 mb-4">
        <% if event.images.attached?%>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <% event.images.each_with_index do |photo, n| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= n %>" class="<%= n.zero? ? 'active' : '' %>">></li>
            <% end %>
            </ol>
            <div class="carousel-inner">
              <% event.images.each_with_index do |image, n| %>
                <div class="carousel-item <%= n.zero? ? 'active' : '' %>">
                  <%= image_tag image, class: 'd-block w-100 img-fluid' %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              <%end%>
            </div>
          </div>
        <% else %>
          <i class="far fa-image fa-9x"></i>
        <% end %>
        
          <div class="card-body">
            <h4 class="card-title"><%=event.title%></h4>
            <h5><%=event.price%>€</h5>
            <p class="card-text"><%=event.description%></p>
            <i class="card-subtitle mb-2">date: <%=event.start_date%> | durée: <%=event.duration%></i>
          </div>
          <%= link_to "Détails", event_path(event.id), :class=>'btn
          btn-secondary'%>
          </br></br>
          <div class="card-footer">
            <small class="text-muted"
              >&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

