<% if @event.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <br>
    <p>⚠️ Les champs suivants ne sont pas correctement remplis</p>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <br>
  </div>
<%end%>
<h2 class="display-4 text-center">Créer un évènement</h1>

<div class= 'container'>
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <br><br><br>
      <%= form_for @event do |f|%>
        <div class='form-group'>
          <%= label_tag 'titre' %>
          <%= f.text_field :title, class:'form-control' %>
        </div>
        <div class='form-group'>
          <%= label_tag 'description' %>
          <%= f.text_area :description, class:'form-control' %>
        </div>
        <div class='form-group'>
          <%= label_tag 'lieu' %>
          <%= f.text_field :location,class:'form-control' %>
        </div>  
        <div class='form-group'>
          <%= label_tag 'date de début' %>
          <%= f.date_field :start_date, placeholder: Date.today, class: "form-control" %>
        </div>
        <div class='form-group'>
          <%= label_tag 'durée' %>
          <%= f.number_field :duration, min: 5, max: 120, :step => 'any', class: "number" %>
        </div>
        <div class='form-group'>
          <%= label_tag 'prix' %>
          <%= f.number_field :price, min: 1, max: 1000, :step => 'any', class: "number" %>
        </div>
        <div class="form-group">
        <div class="row">
          <div class="col-lg-4"> 
            <%= label_tag 'Images' %> 
            <%= f.file_field :images %>
          </div>
        </div>
        
        <div class="actions mt-5"> 
        <%= f.submit class:'btn btn-block btn-info' %></div>
      <% end %>
    </div>
  </div>
</div>
