<!DOCTYPE html>
<html>
  <head>
    <title>Champagnon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
      <%if flash.any?%>
        <p class="alert alert-info"><%= flash[:success] %></p>
      <%end%>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to"Champonion", root_path, class:"navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-link btn btn-outline-info">
            <%=link_to "Créer un évènement", new_event_path%>
          </li>
        </ul>
        <ul class= 'navbar-nav ml-auto'>
          <% if user_signed_in?%>
            <li class="nav-link">
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %> 
            </li>
            <li class='nav-link'>
              <%=link_to 'Profil', user_path(current_user.id)%>
          <%else%>
            <li class="nav-link">
              <%= link_to "Connexion", new_user_session_path%>
            </li>
            <li class="nav-link">
              <%= link_to "Inscription", new_user_registration_path%>
            </li>
          <%end%>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
