<!DOCTYPE html>
<html>
  <head>
    <title>Champagnon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/da8b50c52a.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
  </head>

  <body>
    
    <!--begin::Navbar -->
    <%= render "layouts/navbar"%>
    <!--end::Navbar -->

    <div class="wrapper">
      <%if flash[:error]%>
        <div class="alert alert-danger fade show" role="alert">
          <div class="alert-icon"><i class="flaticon-warning"></i></div>
          <div class="alert-text"><%= flash[:error] %></div>
          <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
          </div>
        </div>
      <%end%>
      <%if flash[:success]%>
        <div class="alert alert-success fade show" role="alert">
          <div class="alert-icon"><i class="flaticon-warning"></i></div>
          <div class="alert-text"><%= flash[:success] %></div>
          <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
          </div>
        </div>
      <%end%>
    <%= yield %>

  </body>

</html>
